.learning-path-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.learning-path-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;

	.left {
		width: 100%;
	}

	.right {
		width: 40%;
	}
}
