<o-pop-up-header [title]="(editMode ? 'Editar' : 'Adicionar') + ' documento'" />

<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div>
        <mat-form-field appearance="fill" subscriptSizing="dynamic">
            <mat-label>Nome</mat-label>
            <input matInput type="text" name="name" formControlName="name" />
        </mat-form-field>

        @if (!editMode) {
        @if (!getFormControl('file').value) {
        <p-fileupload mode="basic" chooseLabel="Selecionar" name="document" [auto]="true" [maxFileSize]="MAX_PDF_SIZE"
            (onSelect)="selectFile($event)" />
        } @else {
        <p>{{getFormControl('file').value}}</p>
        <button mat-button (click)="removeFile()" type="button">
            <mat-icon>close</mat-icon>Cancelar
        </button>
        }
        }
    </div>

    <o-syllabus [syllabus]="ctx.classroom?.syllabus" [preMarkedSyllabus]="data?.document!.syllabus" mode="select"
        (syllabusMarked)="markSyllabus($event)" [presets]="ctx.classroom?.presets" />

    <mat-checkbox formControlName="feedAi">
        Treinar IA
    </mat-checkbox>

    <o-pop-up-buttons [disable]="form.invalid" type="submit"
        [confirmButton]="(editMode ? 'Editar' : 'Adicionar') + ' documento'" />
</form>