<o-loading [isLoading]="isLoading" />
<input type="file" #fileInput hidden (change)="onFileSelected($event)" multiple />

<div class="chat-main">
    <div class="chat-header">
        <div class="chat-title">
            <mat-icon>smart_toy</mat-icon> 
            <h3>IA da turma</h3>
        </div>
        @if (messages && messages.length > 0) {
            <button mat-icon-button class="clear-button" (click)="clear()" pTooltip="Limpar chat" [disabled]="isSending || isLoading">
                <mat-icon>close</mat-icon>
            </button>
        }
    </div>

    <div class="messages-wrapper">
        @if (messages.length > 0) {
        <div class="messages">
            @for (message of messages; track message.content) {
            @if (message.userMessage) {
            <div class="user-message-div">
                <p class=" user-message">{{message.content}}</p>
            </div>
            } @else {
            <div class="assistant-message-div">
                <markdown class="assistant-message">{{message.content}}</markdown>
            </div>
            }
            }
        </div>
        @if (isSending) {
        <p class="thinking">Pensando...</p>
        }
        } @else {
        <div class="empty-chat">
            <h3>No que você está pensando hoje?</h3>
            <div class="prompt-suggestions">
                <span>me faça um cálculo de Derivadas</span>
                <span>me faça um quadro da independência</span>
                <span>oque é citologia oncótica</span>
                <span>me faça um modelo de texto dissertativo argumentativo</span>
            </div>
        </div>
        }
    </div>

    @if (learningPaths.length > 0 && showLearningPaths) {
    <div class="learning-paths">
        @for (learningPath of learningPaths; track learningPath.id) {
        <div class="learning-path">
            <p>{{learningPath.name}}</p>
            <button (click)="removeLearningPath.emit(learningPath)" [disabled]="isSending"><mat-icon>close</mat-icon></button>
        </div>
        }
    </div>
    }

    <div class="chat-input-area">
        <button mat-icon-button class="add-button" pTooltip="Adicionar fotos e arquivos" (click)="fileInput.click()">
            <mat-icon>add</mat-icon>
        </button>
        <div class="chat-input-wrapper">
          <textarea matInput [(ngModel)]="input" placeholder="Pergunte alguma coisa" [disabled]="isSending" (keydown.enter)="!isInputEmpty && sendMessage(); $event.preventDefault()"></textarea>
          <div class="chat-actions">
              <button mat-icon-button [disabled]="isSending" pTooltip="Gravar áudio"><mat-icon>mic</mat-icon></button>
              <button mat-icon-button [disabled]="isSending" pTooltip="Usar modo voz"><mat-icon>graphic_eq</mat-icon></button>
          </div>
        </div>
    </div>
</div>