.chat-main {
	display: flex;
	flex-direction: column;
	border: 1px solid #e0e0e0;
	border-radius: 8px;
	padding: 20px;
	align-items: center;
	gap: 20px;
	width: 100%;

	.clear-button-div {
		width: 100%;
		display: flex;
		justify-content: flex-start;

		.clear-button {
			position: absolute;
		}
	}

	.messages-wrapper {
		width: 100%;
		height: 60vh;
		overflow-y: auto;

		.messages {
			display: flex;
			flex-direction: column-reverse;
			gap: 20px;
			width: 100%;

			.user-message-div {
				display: flex;
				justify-content: flex-end;
				width: 100%;

				.user-message {
					max-width: 70%;
				}
			}

			.assistant-message-div {
				display: flex;
				justify-content: center;
				align-items: flex-start;
				width: 100%;

				.assistant-message {
				}
			}
		}

		.thinking {
			font-size: 16px;
			color: rgba($color: var(--text-color), $alpha: 0.3);
		}

		.empty-chat {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			gap: 20px;
			margin-top: 50px;
		}
	}

	.learning-paths {
		display: flex;
		flex-direction: row;
		gap: 10px;
		overflow-x: auto;

		.learning-path {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 5px;
			border: 1px solid #e0e0e0;
			border-radius: 8px;
			padding: 0 3px;
		}
	}

	.chat-input {
		width: 100%;
		display: flex;
		flex-direction: row;
		gap: 10px;
		justify-content: flex-start;
		align-items: center;

		mat-form-field {
			width: 100%;
		}
	}
}
