version: "3.8"
services:
  postgres-test:
    image: postgres:15-alpine
    container_name: maemais_pg_test
    environment:
      POSTGRES_USER: test_user
      POSTGRES_PASSWORD: test_password
      POSTGRES_DB: test_db
    ports:
      - "5433:5432"
