.link-account-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;

	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		gap: 20px;
		width: 100%;

		.error {
			color: red;
			margin-bottom: 1rem;
			text-align: center;
			font-size: 14px;
		}

		button {
			background-color: var(--primary-color);
			color: var(--text-color);
			width: 100%;

			&:disabled {
				opacity: 0.3;
				cursor: not-allowed;
			}
		}
	}

	.google-button {
		width: 100%;
		height: 100%;
		margin: 10px 0;
		border: 1px solid var(--primary-color);
		padding: 10px 0;

		.google-button-div {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 10px;
			width: 100%;
			height: 100%;
			color: var(--text-color);
		}
	}
}
