<header>
    <div class="left-header">
        <button mat-button (click)="sidebar.emit()" class="menu-button">
            <mat-icon>menu</mat-icon>
        </button>

        <img [src]="logo" alt="Logo" style="max-height: 50px; max-width: 50px; cursor: pointer;" (click)="goToHome()" />

        <p-select [options]="institutions" optionValue="id" [(ngModel)]="selectedInstitutionId" [checkmark]="true"
            [loading]="institutions.length === 0" optionLabel="name" placeholder="Selecione uma Instituição"
            class="selector" (ngModelChange)="changeInstitution($event)" />

        @if (canConfigureInstitution) {
        <button mat-icon-button (click)="goToSettings()">
            <mat-icon>settings</mat-icon>
        </button>
        }
    </div>

    <div class="right-header">
        <button mat-icon-button (click)="goToReport()">
            <mat-icon>bug_report</mat-icon>
        </button>
        <button mat-icon-button (click)="goToProfile()">
            <img [src]="profilePictureUrl" alt="Profile Picture" class="profile-picture" />
        </button>
    </div>
</header>