<o-pop-up-header [title]="'Redefinir senha de ' + data.user.name" />

<o-loading [isLoading]="isLoading" />

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="prpu-form">
	<mat-form-field appearance="fill" subscriptSizing="dynamic">
		<mat-label>Nova senha</mat-label>
		<input matInput [type]="hidePassword ? 'password' : 'text'" name="password" formControlName="password" />
		<mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' :
			'visibility'}}</mat-icon>
	</mat-form-field>
	<mat-form-field appearance="fill" subscriptSizing="dynamic">
		<mat-label>Confirmar nova senha</mat-label>
		<input matInput [type]="hidePasswordConfirmation ? 'password' : 'text'" name="passwordConfirmation"
			formControlName="passwordConfirmation" />
		<mat-icon matSuffix (click)="hidePasswordConfirmation = !hidePasswordConfirmation">{{hidePasswordConfirmation ?
			'visibility_off' : 'visibility'}}</mat-icon>
	</mat-form-field>
	@if (error !== '') {
	<div class="prpu-error-div">
		<span>{{error}}</span>
	</div>
	}

	<o-pop-up-buttons [disable]="isLoading || form.invalid" type="submit" confirmButton="Redefinir senha" />
</form>