<o-pop-up-header title="Criar rota de aprendizagem" />

<o-loading [isLoading]="isLoading" />

<mat-stepper #stepper linear>

    <mat-step [stepControl]="forms.at(0)" label="Tópicos">
        <div>
            <o-syllabus [syllabus]="ctx.classroom?.syllabus" mode="select" (syllabusMarked)="markSyllabus($event)"
                [presets]="ctx.classroom?.presets" />
        </div>
        <div>
            <button mat-button matStepperNext>Próximo</button>
        </div>
    </mat-step>

    <mat-step [stepControl]="forms.at(1)" label="Tipo">
        <form [formGroup]="forms.at(1)">
            <mat-form-field appearance="fill" subscriptSizing="dynamic">
                <mat-label>Nome da rota</mat-label>
                <input matInput formControlName="name" />
            </mat-form-field>
            <p>Selecione o tipo da rota:</p>
            <div>
                <button mat-raised-button (click)="selectType(learningPathTypeEnum.TEXT)"
                    [class]="learningPathTypeButtonClass(learningPathTypeEnum.TEXT)">TEXTO</button>
                <button mat-raised-button (click)="selectType(learningPathTypeEnum.AUDIO)"
                    [class]="learningPathTypeButtonClass(learningPathTypeEnum.AUDIO)">AUDIO</button>
                <button mat-raised-button (click)="selectType(learningPathTypeEnum.VIDEO)"
                    [class]="learningPathTypeButtonClass(learningPathTypeEnum.VIDEO)">VIDEO</button>
                <button mat-raised-button (click)="selectType(learningPathTypeEnum.QUESTION)"
                    [class]="learningPathTypeButtonClass(learningPathTypeEnum.QUESTION)">QUESTÃO</button>
                <button mat-raised-button (click)="selectType(learningPathTypeEnum.FLASHCARD)"
                    [class]="learningPathTypeButtonClass(learningPathTypeEnum.FLASHCARD)">FLASHCARD</button>
            </div>
        </form>
        <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext>Próximo</button>
        </div>
    </mat-step>

    <mat-step [stepControl]="forms.at(2)" label="Personalizar">
        <form [formGroup]="forms.at(2)">
            <mat-form-field appearance="fill" subscriptSizing="dynamic">
                <mat-label>Idioma</mat-label>
                <mat-select formControlName="language">
                    <mat-option value="pt-BR"> Português </mat-option>
                    <mat-option value="en-US"> Inglês </mat-option>
                    <mat-option value="es-ES"> Espanhol </mat-option>
                    <mat-option value="de-DE"> Alemão </mat-option>
                    <mat-option value="fr-FR"> Francês </mat-option>
                    <mat-option value="it-IT"> Italiano </mat-option>
                </mat-select>
            </mat-form-field>

            @if (getFormControl(1, 'type').value === learningPathTypeEnum.TEXT) {
            <mat-form-field appearance="fill" subscriptSizing="dynamic">
                <mat-label>Número aproximado de parágrafos</mat-label>
                <input type="number" matInput formControlName="numberOfParagraphs" />
            </mat-form-field>
            <mat-slide-toggle formControlName="useTopics">Texto em tópicos</mat-slide-toggle>
            <mat-form-field appearance="fill" subscriptSizing="dynamic">
                <mat-label>Formalidade</mat-label>
                <mat-select formControlName="formality">
                    <mat-option value="formal"> Formal </mat-option>
                    <mat-option value="medium"> Mediana </mat-option>
                    <mat-option value="informal"> Informal </mat-option>
                </mat-select>
            </mat-form-field>
            }

            @else if (getFormControl(1, 'type').value === learningPathTypeEnum.AUDIO) {
            <mat-form-field appearance="fill" subscriptSizing="dynamic">
                <mat-label>Duração aproximada em segundos</mat-label>
                <input type="number" matInput formControlName="durationInSeconds" />
            </mat-form-field>
            <mat-form-field appearance="fill" subscriptSizing="dynamic">
                <mat-label>Formalidade</mat-label>
                <mat-select formControlName="formality">
                    <mat-option value="formal"> Formal </mat-option>
                    <mat-option value="medium"> Mediana </mat-option>
                    <mat-option value="informal"> Informal </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" subscriptSizing="dynamic">
                <mat-label>Voz</mat-label>
                <mat-select formControlName="voice">
                    <mat-option [value]="audioVoiceEnum.ALLOY"> Alloy </mat-option>
                    <mat-option [value]="audioVoiceEnum.ECHO"> Echo </mat-option>
                    <mat-option [value]="audioVoiceEnum.FABLE"> Fable </mat-option>
                    <mat-option [value]="audioVoiceEnum.ONYX"> Onyx </mat-option>
                    <mat-option [value]="audioVoiceEnum.NOVA"> Nova </mat-option>
                    <mat-option [value]="audioVoiceEnum.SHIMMER"> Shimmer </mat-option>
                    <mat-option [value]="audioVoiceEnum.SAGE"> Sage </mat-option>
                    <mat-option [value]="audioVoiceEnum.CORAL"> Coral </mat-option>
                    <mat-option [value]="audioVoiceEnum.ASH"> Ash </mat-option>
                </mat-select>
            </mat-form-field>
            }

            @else if (getFormControl(1, 'type').value === learningPathTypeEnum.VIDEO) {
            <mat-form-field appearance="fill" subscriptSizing="dynamic">
                <mat-label>Número de vídeos</mat-label>
                <input type="number" matInput formControlName="numberOfVideos" />
            </mat-form-field>
            }

            @else if (getFormControl(1, 'type').value === learningPathTypeEnum.FLASHCARD) {
            <mat-form-field appearance="fill" subscriptSizing="dynamic">
                <mat-label>Número de Flash Cards</mat-label>
                <input type="number" matInput formControlName="numberOfCards" />
            </mat-form-field>
            <mat-form-field appearance="fill" subscriptSizing="dynamic">
                <mat-label>Nível</mat-label>
                <mat-select formControlName="level">
                    <mat-option [value]="0"> Iniciante </mat-option>
                    <mat-option [value]="1"> Intermediário </mat-option>
                    <mat-option [value]="2"> Avançado </mat-option>
                    <mat-option [value]="3"> Especialista </mat-option>
                </mat-select>
            </mat-form-field>
            }

            @else if (getFormControl(1, 'type').value === learningPathTypeEnum.QUESTION) {
            <mat-form-field appearance="fill" subscriptSizing="dynamic">
                <mat-label>Número de Questões</mat-label>
                <input type="number" matInput formControlName="numberOfQuestions" />
            </mat-form-field>
            <mat-form-field appearance="fill" subscriptSizing="dynamic">
                <mat-label>Nível</mat-label>
                <mat-select formControlName="level">
                    <mat-option [value]="0"> Iniciante </mat-option>
                    <mat-option [value]="1"> Intermediário </mat-option>
                    <mat-option [value]="2"> Avançado </mat-option>
                    <mat-option [value]="3"> Especialista </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" subscriptSizing="dynamic">
                <mat-label>Tipos de Questões</mat-label>
                <mat-select formControlName="questionTypes" multiple>
                    <mat-option [value]="questionTypeEnum.MULTIPLE_CHOICE"> Múltipla Escolha </mat-option>
                    <mat-option [value]="questionTypeEnum.MULTIPLE_SELECTION"> Múltipla Seleção </mat-option>
                    <mat-option [value]="questionTypeEnum.TRUE_FALSE"> Verdadeiro ou Falso </mat-option>
                    <mat-option [value]="questionTypeEnum.OPEN_ENDED"> Aberta </mat-option>
                </mat-select>
            </mat-form-field>
            }
        </form>
        <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext>Próximo</button>
        </div>
    </mat-step>

    <mat-step label="Confirmar">
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button (click)="createLearningPath()">Criar</button>
        </div>
    </mat-step>

</mat-stepper>