<o-loading [isLoading]="isLoading" />

<button mat-icon-button (click)="shuffle()"><mat-icon>shuffle</mat-icon></button>

@if (mode == 'view') {
<div>
    <div>
        <button mat-raised-button (click)="openAll()">Abrir todos</button>
        <button mat-raised-button (click)="closeAll()">Fechar todos</button>
    </div>
    @for (flashCard of flashCards; track $index; let i = $index) {
    <mat-card>
        <mat-card-content>
            <p>{{ flashCard.front }}</p>
            @if(fcContext[i].opened) {
            <p>{{ flashCard.back }}</p>
            }
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="this.fcContext[i].opened= !this.fcContext[i].opened">
                {{ fcContext[i].opened? 'Fechar' : 'Abrir' }}
            </button>
        </mat-card-actions>
    </mat-card>
    }
</div>
} @else {
<div>
    <div>
        <button mat-icon-button [style]="'visibility: ' + (fcIndex > 0 ? 'visible' : 'hidden')" (click)="prev()">
            <mat-icon>arrow_back_ios_new</mat-icon>
        </button>
        <p>{{fcIndex + 1}} / {{flashCards.length}}</p>
        <button mat-icon-button [style]="'visibility: ' + (fcIndex < flashCards.length - 1? 'visible' : 'hidden')"
            (click)="next()">
            <mat-icon>arrow_forward_ios_new</mat-icon>
        </button>
    </div>

    <p-divider />

    @if (flashCard) {
    <mat-card>
        <mat-card-content>
            <p>{{ flashCard.front }}</p>
            @if(fcContext[fcIndex].opened) {
            <p>{{ flashCard.back }}</p>
            }
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="this.fcContext[fcIndex].opened = !this.fcContext[fcIndex].opened">
                {{ fcContext[fcIndex].opened ? 'Fechar' : 'Abrir' }}
            </button>
        </mat-card-actions>
    </mat-card>
    }
</div>
}