<o-loading [isLoading]="isLoading" />

<div class="classroom-home-container">
  
    <header class="classroom-header">
        <div class="classroom-title">
            <button mat-icon-button routerLink="/i/{{ctx.institution?.id}}">
                <mat-icon>chevron_left</mat-icon>
            </button>
            <mat-icon>{{ ctx.classroom?.icon }}</mat-icon>
            <h2>{{ ctx.classroom?.name }}</h2>
        </div>
        <div class="classroom-actions">
            <button mat-flat-button class="action-button" (click)="createLearningPath()">
                <mat-icon>add</mat-icon>
                <span>CRIAR ROTA</span>
            </button>
            <button mat-flat-button class="action-button" [routerLink]="baseUrl + '/documents'">
                <mat-icon>folder_open</mat-icon>
                <span>DOCUMENTOS</span>
            </button>
            <button mat-flat-button class="action-button" [routerLink]="baseUrl + '/members'">
                <mat-icon>group</mat-icon>
                <span>MEMBROS</span>
            </button>
            @if(ctx.isTeacher) {
            <button mat-flat-button class="action-button" [routerLink]="baseUrl + '/dashboard'">
                <mat-icon>dashboard</mat-icon>
                <span>DASHBOARD</span>
            </button>
            <button mat-flat-button class="action-button" [routerLink]="baseUrl + '/settings'">
                <mat-icon>settings</mat-icon>
                <span>CONFIGURAÇÕES</span>
            </button>
            }
        </div>
    </header>

    <main class="main-content">
        <section class="chat-column">
            <o-chat [learningPaths]="learningPathsInChat" (removeLearningPath)="removeLearningPathFromChat($event)" />
        </section>

        <section class="routes-column">
            <div class="search-container">
                <mat-icon>search</mat-icon>
                <input type="text" placeholder="Filtrar por rotas ou nome..." [(ngModel)]="filter">
            </div>

            <div class="syllabus-filter-container">
                <div class="syllabus-filter-header">
                    <mat-icon>import_contacts</mat-icon>
                    <span>Filtrar por Ementa</span>
                </div>
                <div class="syllabus-buttons">
                    <button mat-button class="syllabus-button" (click)="syllabuspo.toggle($event)">Cálculo <mat-icon>expand_more</mat-icon></button>
                    <button mat-button class="syllabus-button" (click)="syllabuspo.toggle($event)">Álgebra <mat-icon>expand_more</mat-icon></button>
                    <p-popover #syllabuspo [style]="{width: '300px'}">
                        <o-syllabus [syllabus]="ctx.classroom?.syllabus" mode="filter" (syllabusMarked)="markSyllabus($event)" [presets]="ctx.classroom?.presets" />
                    </p-popover>
                </div>
            </div>

            <div class="routes-sections">
                <div class="routes-section">
                    <h3>Minhas rotas</h3>
                    <div class="routes-grid">
                        @if (filteredMyGeneratedLearningPaths.length === 0 && filteredMyNotGeneratedLearningPaths.length === 0) {
                            <p class="empty-message">Você ainda não criou nenhuma rota.</p>
                        } @else {
                            @for (learningPath of filteredMyNotGeneratedLearningPaths; track learningPath.id) {
                                <o-learning-path-card [learningPath]="learningPath" (regenerate)="regenerateLearningPath(learningPath)" [mine]="true" />
                            }
                            @for (learningPath of filteredMyGeneratedLearningPaths; track learningPath.id) {
                                <o-learning-path-card [learningPath]="learningPath" (cardClick)="goToLearningPath(learningPath)" [inChat]="isLearningPathIdInChat(learningPath.id)" (addToChat)="addLearningPathToChat(learningPath)" (sharedChange)="updatedLearningPathSharing(learningPath)" [mine]="true" />
                            }
                        }
                    </div>
                </div>

                <div class="routes-section">
                    <h3>Rotas de Professores</h3>
                    <div class="routes-grid">
                        @for (learningPath of filteredTeacherLearningPaths; track learningPath.id) {
                            <o-learning-path-card [learningPath]="learningPath" (cardClick)="goToLearningPath(learningPath)" [inChat]="isLearningPathIdInChat(learningPath.id)" (addToChat)="addLearningPathToChat(learningPath)" (sharedChange)="updatedLearningPathSharing(learningPath)" />
                        } @empty {
                            <p class="empty-message">Nenhuma rota de professor compartilhada.</p>
                        }
                    </div>
                </div>

                <div class="routes-section">
                    <h3>Rotas de Alunos</h3>
                    <div class="routes-grid">
                        @for (learningPath of filteredStudentLearningPaths; track learningPath.id) {
                            <o-learning-path-card [learningPath]="learningPath" (cardClick)="goToLearningPath(learningPath)" [inChat]="isLearningPathIdInChat(learningPath.id)" (addToChat)="addLearningPathToChat(learningPath)" (sharedChange)="updatedLearningPathSharing(learningPath)" />
                        } @empty {
                           <p class="empty-message">Nenhuma rota de aluno compartilhada.</p>
                        }
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>