<o-loading [isLoading]="isLoading" />

<div class="classroom-home">

    <div class="top-buttons">

        <button mat-raised-button (click)="createLearningPath()">
            Criar rota de aprendizagem
        </button>

        <button mat-raised-button [routerLink]="baseUrl + '/documents'">
            Documentos
        </button>

        <button mat-raised-button [routerLink]="baseUrl + '/members'">
            Membros
        </button>

        @if(ctx.isTeacher) {
        <button mat-raised-button [routerLink]="baseUrl + '/dashboard'">
            Dashboard
        </button>

        <button mat-raised-button [routerLink]="baseUrl + '/settings'">
            Configurações
        </button>
        }

    </div>

    <p-divider />

    <div class="content">

        <div class="left-content">

            <o-chat style="width: 100%" [learningPaths]="learningPathsInChat"
                (removeLearningPath)="removeLearningPathFromChat($event)" />

        </div>

        <div class="right-content">

            <div class="filter-div">
                <mat-form-field appearance="outline" subscriptSizing="dynamic">
                    <mat-label>Pesquisar</mat-label>
                    <input matInput [(ngModel)]="filter" />
                </mat-form-field>

                <button mat-raised-button (click)="syllabuspo.toggle($event)">Ementa
                    ({{syllabusFilter.length}})</button>
                <p-popover #syllabuspo>
                    <o-syllabus [syllabus]="ctx.classroom?.syllabus" mode="filter"
                        (syllabusMarked)="markSyllabus($event)" [presets]="ctx.classroom?.presets" />
                </p-popover>
            </div>



            <div class="learning-paths-div">

                <div class="learning-paths">
                    <h3>Minhas rotas</h3>
                    @if (filteredMyNotGeneratedLearningPaths.length > 0) {
                    <h5>Rotas em geração</h5>
                    @for (learningPath of filteredMyNotGeneratedLearningPaths; track learningPath.id) {
                    <o-learning-path-card [learningPath]="learningPath"
                        (regenerate)="regenerateLearningPath(learningPath)" [mine]="true" />
                    }
                    <p-divider />
                    <h5>Rotas geradas</h5>
                    }
                    @for (learningPath of filteredMyGeneratedLearningPaths; track learningPath.id) {
                    <o-learning-path-card [learningPath]="learningPath" (cardClick)="goToLearningPath(learningPath)"
                        [inChat]="isLearningPathIdInChat(learningPath.id)"
                        (addToChat)="addLearningPathToChat(learningPath)"
                        (sharedChange)="updatedLearningPathSharing(learningPath)" [mine]="true" />
                    }
                </div>

                <div class="learning-paths">
                    <h3>Rotas compartilhadas</h3>
                    <h5>Rotas de professor</h5>
                    @for (learningPath of filteredTeacherLearningPaths; track learningPath.id) {
                    <o-learning-path-card [learningPath]="learningPath" (cardClick)="goToLearningPath(learningPath)"
                        [inChat]="isLearningPathIdInChat(learningPath.id)"
                        (addToChat)="addLearningPathToChat(learningPath)"
                        (sharedChange)="updatedLearningPathSharing(learningPath)" />
                    }
                    <p-divider />
                    <h5>Rotas de alunos</h5>
                    @for (learningPath of filteredStudentLearningPaths; track learningPath.id) {
                    <o-learning-path-card [learningPath]="learningPath" (cardClick)="goToLearningPath(learningPath)"
                        [inChat]="isLearningPathIdInChat(learningPath.id)"
                        (addToChat)="addLearningPathToChat(learningPath)"
                        (sharedChange)="updatedLearningPathSharing(learningPath)" />
                    }
                </div>

            </div>
        </div>

    </div>
</div>