.theme-light {
	--primary-color: #1a73e8; 
	--secondary-color: #FFFFFF;
	--background-color: #f8f9fa;
	--text-color: #202124;
	--text-color-inverse: #ffffff;
	--border-color: #dee2e6;
	--theme: light;
}
