.theme-dark {
	--primary-color: #0073f7;
	--secondary-color: #002f5f;
	--background-color: #061728;
	--text-color: #e0e0e0;
    --text-color-inverse: #ffffff;
	--border-color: #dee2e6;
	--theme: 'dark';
}