@font-face {
	font-family: 'OrbixPrimaryFont';
	src: url('/assets/fonts/BourbonGrotesque-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'OrbixSecondaryFont';
	src: url('/assets/fonts/Montserrat-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
