<div class="profile-settings">
    @if (isLoading) {
    <o-loading [isLoading]="isLoading" />
    }

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-div">

        <div class="picture-div">
            <p>Foto de perfil</p>
            <div class="picture-subdiv">

                <img [src]="profilePictureUrl" alt="profilePicture" />

                @if(self){
                <p-divider layout="vertical" />

                @if (!picture) {
                <p-fileupload mode="basic" chooseLabel="Selecionar" name="profilePicture" [auto]="true"
                    accept=".png,.svg,.jpg" [maxFileSize]="MAX_IMAGE_SIZE" (onSelect)="selectProfilePicture($event)" />
                } @else {
                <img [src]="picturePreview" alt="profilePicturePreview" />
                <button mat-button (click)="picture = undefined" type="button">
                    <mat-icon>close</mat-icon>Cancelar
                </button>
                }
                }

            </div>
        </div>


        @if (self) {
        <div class="name-div">
            <mat-form-field subscriptSizing="dynamic" appearance="outline">
                <mat-label>Nome completo</mat-label>
                <input matInput name="name" formControlName="name" required />
            </mat-form-field>
        </div>
        } @else {
        <p class="name-p">{{user?.name}}</p>
        }

        @if (self) {
        <div>
            <button mat-button type="button" (click)="resetForm()">Cancelar</button>
            <button mat-raised-button cdkInitialFocus type="submit" class="save-button" [disabled]="disableSaveButton">
                <mat-icon>save</mat-icon>
                Salvar
            </button>
        </div>
        }

        <div class="emails-div">
            <p>Emails</p>

            @for (account of sortedAccounts; track account.id) {
            <o-account-card [userAccountId]="account.id" [email]="account.email" [institution]="account.institution"
                [institutionRole]="account.institutionRole" [idInInstitution]="account.idInInstitution" />
            }

            @if (self) {
            <button mat-raised-button (click)="linkAccount()" type="button">Vincular conta</button>
            }
        </div>

        @if (self) {
        <button mat-raised-button (click)="logout()" type="button">Sair</button>
        }
    </form>

    <div class="gamification-div">
        <o-game-card [user]="user" />
    </div>
</div>