mat-card-title {
	margin-bottom: 1.5rem;
	text-align: center;
	font-size: 24px;
	color: var(--primary-color);
	font-weight: bold;
}

mat-form-field {
	width: 100%;
	margin-bottom: 1rem;
}

.reset-password-error-div {
	color: red;
	margin-bottom: 1rem;
	text-align: center;
	font-size: 14px;
}

form .reset-password-button {
	width: 100%;
	background-color: var(--primary-color);
	color: var(--text-color);
}

form .reset-password-button:disabled {
	opacity: 0.3;
}
