<p-card [header]="learningPath.name">
    @if (generated) {
    <button mat-button (click)="cardClick.emit()" style="width: auto; height: auto; padding: 0">
        <p class="m-0">
            Por {{ learningPath.creator.name }}
            @if(learningPath.validated) {
            <mat-icon pTooltip="Rota validada pelo professor">check</mat-icon>
            }
        </p>
        <o-syllabus-tags [syllabus]="learningPath.syllabus" />
    </button>
    @if (!inChat) {
    <button mat-icon-button (click)="addToChat.emit()" pTooltip="Adicionar ao chat">
        <mat-icon>chat_bubble</mat-icon>
    </button>
    }
    @if (mine) {
    <p>
        <p-toggleswitch [(ngModel)]="learningPath.shared" (ngModelChange)="sharedChange.emit(learningPath.shared)" />
        <span>Compartilhada</span>
    </p>
    }
    } @else {
    @if (generating) {
    <div>
        <p>Sua rota está sendo gerada...</p>
        <div>
            <o-loading [isLoading]="true" [local]="true" size="50px" />
        </div>
    </div>
    } @else if (failed) {
    <div>
        <mat-icon>error</mat-icon>
        <p>Ocorreu um erro ao gerar sua rota</p>
        <p style="color:red">{{learningPath.generation.errorMessage}}</p>
        <button mat-button (click)="regenerate.emit()">Gerar novamente</button>
    </div>
    }
    }
</p-card>