:host {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.sidebar-button,
.sidebar-button-selected {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 60px;
	border-radius: 4px;
	cursor: pointer;
}

.sidebar-button {
	transition: background-color 0.5s;

	&:hover {
		background-color: var(--primary-color);
		color: var(--text-color);
	}
}

.sidebar-button-selected {
	background-color: var(--secondary-color);
	color: var(--text-color);
}
