:root {
  font-family: var(--font-inter), 'Inter', system-ui, sans-serif;
  color: #1f2530;
  background-color: #fef6f9;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fef6f9;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

button {
  font-family: inherit;
}
