<o-loading [isLoading]="isLoading" />

<header>
    <button mat-icon-button [routerLink]="[classroomBaseUrl]">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-raised-button (click)="forceUpdateScores()">
        <span>Forçar atualização de notas</span>
        <mat-icon>refresh</mat-icon>
    </button>
</header>

<div class="classroom-dashboard-div">
    <div class="left-div">
        <h2>Dashboard da Turma {{ctx.classroom?.name}}</h2>
        @for (syllabus of flatSyllabus; track syllabus.id) {
        <button [routerLink]="[classroomBaseUrl + '/dashboard/syllabus/' + syllabus.id]">
            <div>
                <h3>{{syllabus.name}}</h3>
                @if (getSyllabusScore(syllabus.id!)?.count) {
                <div>
                    <p>Média:</p>
                    <p-progressbar [value]="getSyllabusScore(syllabus.id!)?.average">
                        <ng-template #content let-value>
                            <span>{{value}}</span>
                        </ng-template>
                    </p-progressbar>
                </div>
                <div>
                    <div>
                        <p>Min:</p>
                        <p-progressbar [value]="getSyllabusScore(syllabus.id!)?.min">
                            <ng-template #content let-value>
                                <span>{{value}}</span>
                            </ng-template>
                        </p-progressbar>
                    </div>
                    <div>
                        <p>Max:</p>
                        <p-progressbar [value]="getSyllabusScore(syllabus.id!)?.max">
                            <ng-template #content let-value>
                                <span>{{value}}</span>
                            </ng-template>
                        </p-progressbar>
                    </div>
                    <p>Quantidade: {{getSyllabusScore(syllabus.id!)?.count}}</p>
                </div>
                } @else {
                <p>Nenhuma nota registrada</p>
                }
            </div>
        </button>
        }
    </div>

    <div class="right-div">
        @for (student of students; track student.id) {
        <button mat-raised-button [routerLink]="[classroomBaseUrl + '/dashboard/student/' + student.id]">
            {{student.user.name}}
        </button>
        }
    </div>
</div>