<o-loading [isLoading]="isLoading" />

<!-- Title -->
<mat-card-title>Esqueci minha senha</mat-card-title>

<!-- Back Button -->
<a mat-button [routerLink]="['/login']" style="margin-bottom: 10px;">
	<mat-icon>arrow_back</mat-icon>
	Voltar
</a>

<!-- Register Form -->
<form [formGroup]="form" (ngSubmit)="onSubmit()">
	<mat-form-field appearance="fill" subscriptSizing="dynamic">
		<mat-label>Email</mat-label>
		<input matInput type="email" name="email" formControlName="email" />
	</mat-form-field>
	@if (error !== '') {
	<div class="forgot-password-error-div">
		<span>{{error}}</span>
	</div>
	}
	<button mat-raised-button cdkFocusInitial type="submit" class="forgot-password-button"
		[disabled]="isLoading || form.invalid">Enviar email de recuperação</button>
</form>