<o-pop-up-header title="Adicionar novo grupo de tópicos na ementa" />

<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill" subscriptSizing="dynamic">
        <mat-label>Nome do grupo</mat-label>
        <input matInput type="text" name="name" formControlName="name" />
    </mat-form-field>

    <o-syllabus [syllabus]="data.syllabus" (syllabusMarked)="markSyllabus($event)" mode="select" />

    <o-pop-up-buttons [disable]="form.invalid" type="submit" confirmButton="Adicionar grupo de tópicos" />
</form>