.account-card-div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;

	.info-div {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 10px;
	}

	img {
		height: 80px;
		width: 80px;
	}
}
