<o-loading [isLoading]="isLoading" />

<header>
    <button mat-icon-button [routerLink]="[dashboardBaseUrl]">
        <mat-icon>arrow_back</mat-icon>
    </button>
</header>

<div class="student-dashboard-div">
    <h2>Dashboard do aluno {{studentAccount?.user?.name}} ({{studentAccount?.idInInstitution}})</h2>
    <img [src]="profilePictureUrl" alt="profilePicture" />

    <p-accordion value="0" [multiple]="true" (onOpen)="getSyllabusHistory($event)">
        @for (syllabus of flatSyllabus; track syllabus.id) {
        <p-accordion-panel [value]="$index">
            <p-accordion-header>
                <span>
                    <p>{{syllabus.name}}</p>
                    <p-progressbar [value]="currentScores.get(syllabus.id!)?.value || 0">
                        <ng-template #content let-value>
                            <span>{{value || 0}}</span>
                        </ng-template>
                    </p-progressbar>
                </span>
            </p-accordion-header>
            <p-accordion-content>
                <div>
                    @if (histories.get(syllabus.id!)) {
                    @if (histories.get(syllabus.id!)!.length > 0) {
                    <p-chart type="line" [data]="getChartData(histories.get(syllabus.id!)!)"
                        [options]="getChartOptions()" />
                    } @else {
                    <p>Não há histórico para {{syllabus.name}}</p>
                    }
                    } @else {
                    <o-loading [isLoading]="!histories.get(syllabus.id!)" [local]="true" size="50px" />
                    }
                </div>
            </p-accordion-content>
        </p-accordion-panel>
        }
    </p-accordion>
</div>