@use '@angular/material' as mat;

@use './styles/variables';
@use './styles/overrides/primeng-override';
@use './styles/overrides/material-override';
@use './styles/themes/theme-base';
@use './styles/themes/theme-light';
@use './styles/themes/theme-dark';
@use './styles/fonts';

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}
