<div class="institution-settings">
    @if (isLoading) {
    <o-loading [isLoading]="isLoading" />
    }

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-div">

        <p class="title">Configurações da Instituição {{ctx.institution?.name}}</p>

        <mat-form-field subscriptSizing="dynamic" appearance="outline">
            <mat-label>Nome da Instituição</mat-label>
            <input matInput name="name" formControlName="name" required />
        </mat-form-field>

        <div class="logo-div">
            <p>Logo</p>
            <div class="logo-subdiv">
                <img [src]="logoUrl" alt="InstitutionLogo">
                <p-divider layout="vertical" />
                @if (!logo) {
                <p-fileupload mode="basic" chooseLabel="Selecionar" name="logo" [auto]="true" accept=".png,.svg"
                    [maxFileSize]="MAX_IMAGE_SIZE" (onSelect)="selectLogo($event)" />
                } @else {
                <img [src]="logoPreview" alt="LogoPreview" />
                <button mat-button (click)="logo = undefined" type="button"><mat-icon>close</mat-icon>Cancelar</button>
                }
            </div>
        </div>

        <div class="color-div">
            <mat-form-field subscriptSizing="dynamic" appearance="outline">
                <mat-label>Cor primária</mat-label>
                <input matInput name="primaryColor" formControlName="primaryColor"
                    [(ngModel)]="this.getFormControl('primaryColor').value" required />
            </mat-form-field>
            <p-colorpicker [(ngModel)]="this.getFormControl('primaryColor').value" formControlName="primaryColor" />
        </div>

        <div class="color-div">
            <mat-form-field subscriptSizing="dynamic" appearance="outline">
                <mat-label>Cor secundária</mat-label>
                <input matInput name="secondaryColor" formControlName="secondaryColor"
                    [(ngModel)]="this.getFormControl('secondaryColor').value" required />
            </mat-form-field>
            <p-colorpicker [(ngModel)]="this.getFormControl('secondaryColor').value" formControlName="secondaryColor" />
        </div>

        <div class="color-div">
            <mat-form-field subscriptSizing="dynamic" appearance="outline">
                <mat-label>Cor de fundo</mat-label>
                <input matInput name="backgroundColor" formControlName="backgroundColor"
                    [(ngModel)]="this.getFormControl('backgroundColor').value" required />
            </mat-form-field>
            <p-colorpicker [(ngModel)]="this.getFormControl('backgroundColor').value"
                formControlName="backgroundColor" />
        </div>

        <div class="color-div">
            <mat-form-field subscriptSizing="dynamic" appearance="outline">
                <mat-label>Cor do texto</mat-label>
                <input matInput name="textColor" formControlName="textColor"
                    [(ngModel)]="this.getFormControl('textColor').value" required />
            </mat-form-field>
            <p-colorpicker [(ngModel)]="this.getFormControl('textColor').value" formControlName="textColor" />
        </div>

        <mat-form-field subscriptSizing="dynamic" appearance="outline">
            <mat-label>Tema</mat-label>
            <mat-select name="theme" formControlName="theme" required>
                <mat-option value="light">Claro</mat-option>
                <mat-option value="dark">Escuro</mat-option>
            </mat-select>
        </mat-form-field>

        <div>
            <button mat-button type="button" (click)="resetForm()">Cancelar</button>
            <button mat-raised-button cdkInitialFocus type="submit" class="save-button" [disabled]="disableSaveButton">
                <mat-icon>save</mat-icon>
                Salvar
            </button>
        </div>
    </form>

    <div class="buttons-div">
        <button mat-raised-button [routerLink]="[usersUrl]">
            Usuários
        </button>

        <button mat-raised-button [routerLink]="[classroomsUrl]">
            Turmas
        </button>
    </div>
</div>