.pu-buttons-div {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	gap: 20px;

	.pu-confirm-button {
		background-color: var(--primary-color);
		color: var(--text-color);

		&:disabled {
			opacity: 0.3;
			cursor: not-allowed;
		}
	}
}
